<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uz.futuretexlogies.segroupllc.demo_firebase_connection_in_flutter.demo_firebase_connection">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
